<div class="form-container">
  <div class="table-container">
    <div class="results mt-3 mb-5"><%= @targets.size %> beneficiários cadastrados</div>
      <div id="data">
        <table class="table">
          <thead class="thead-light">
            <% if @targets.size.positive? %>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Município</th>                
                <th scope="col">UF</th>
                <th scope="col">CPF</th>
                <th scope="col">Sexo</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
            <% @targets.each do |target| %>
              <tr>
                <td><%= target.name %></td>
                <td><%= target.municipio %></td>
                <td><%= target.uf %></td>
                <td><%= target.cpf %></td>
                <td><%= target.sexo %></td>
                <td><%= target.email %></td>
                <td><%= target.telefone %></td>
                <td class="button-myrules">
                  <%= link_to "", edit_target_path(target), class: "fas fa-edit" %>
                  <%= link_to "", delete_target_path(target), class: "far fa-trash-alt", data: {confirm: "Você realmente deseja remover a norma?"} %>
                </td>
              </tr>
            <% end %>
            <% else %>
              <p class="title">Não foram encontrados resultados para essa busca</p>
            <% end %>
            </tbody>
        </table>
      </div>
    <div class="item-a">
      <button class="btn btn-flat" onclick="exportDataToExcel('data')">Baixar arquivo</button>
      <%= link_to "Cadastrar novo beneficiário", targets_new_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
    $('.table').DataTable({
        "language": {
              "lengthMenu": "Mostrando _MENU_ registros por página",
              "zeroRecords": "Nada encontrado",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "Nenhum registro disponível",
              "infoFiltered": "(filtrado de _MAX_ registros no total)",
              "sSearch" : "Filtrar",
              "oPaginate": {
                      "sFirst":    "Primeira",
                      "sPrevious": "Anterior",
                      "sNext":     "Próxima",
                      "sLast":     "Última"
                    }
          }
      });
});
</script>

<script>
      function exportDataToExcel(data, filename = '')
       {
          var downloadurl;
          var fileType = 'application/vnd.ms-excel';
          var tableSelect = document.getElementById(data);
          var dataHTML = tableSelect.outerHTML.replace(/ /g, '%20');
          filename = filename?filename+'.xls':'user_details.xls';
          downloadurl = document.createElement("a");
          document.body.appendChild(downloadurl);
         if(navigator.msSaveOrOpenBlob)
           {
              var blob = new Blob(['\ufeff', dataHTML],
               {
                  type:  fileType
              });
             navigator.msSaveOrOpenBlob( blob, filename);
           }
        else
          {
           downloadurl.href = 'data:' + fileType + ', ' + dataHTML;
           downloadurl.download = filename;
          downloadurl.click();
       }
    }
</script>