<div class="container">
  <div class="table-container">
    <h2>Acessar</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: "E-mail",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password, label: "Senha",
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, label: "Lembrar-me", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Acessar", class: "btn btn-flat" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

  </div>
</div>